html, body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%;
  width: 100%;
}

.theme-container {
  height: 100%;
}

#main-title {
  font-size:2em;
  margin: 3em auto;
}

.action {
  margin: 4em auto !important;
}